/* Add your styles here */
.navbar {
    background: oldlace;
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
  }

.navbar-brand {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: black;
}
.navbar li a {
    display: block;
    color: rgb(172, 172, 172);
  }

.container {
    display: block;
    background-color: oldlace;
}

.container h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.container h2 {
    color: black;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.container img {
    display: inline;
    margin: 20px 20px;
}
.container p {
    display: block;
    padding: 10px;
    line-height: 2.2;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(128, 128, 128);
}

.col-lg-8 {
    border-right: solid rgb(226, 225, 225);
    border-right-width: 40px;
    padding: 40px;
}

.col-md-6 {
    margin-left: -10px;
}
.container h3 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#maintable {  
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 40px;
    padding: 50px;
}
#maintable td, th { border: 1px solid #CCC; 
text-align:  center;}  


#maintable th {  
    background: lightslategray; 
    font-weight: bold; 
}

#maintable td {  
    background: whitesmoke;
    text-align: center; 
}

.boxx {
    border: solid black;

}

@media (max-width: 800px)
{
    .col-lg-8 {
        border-bottom: solid rgb(226, 225, 225);
        border-bottom-width: 40px;
        border-right: 20px;
    }
}




